// CONTACT PAGE

:root {
  --headerFont: "Poppins", sans-serif;
  --bodyFont: "Mulish", sans-serif;
  --mainColor: #353353;
  --secondaryColor: #302F4E;
  --textColor: #ffffff;
  --accentColor: #DAA520;
  --opacity: rgba(255,255,255, 0.2);
}

.contactPage {
  display: flex;
  flex-direction: row-reverse;
  height: 90vh;
  justify-content: center;
  align-items: flex-start;
  height: calc(100vh - 5rem);

  // LEFT SIDE: CONTACT INFO SECTION
  .contactInfo{
    display: flex;
    background-color: var(--secondaryColor);
    margin-top: 20vh;
    border: solid 2px var(--textColor);
    width: 80%;
    height: 60vh;
    box-shadow: 2rem 2rem var(--accentColor);
    padding: 2.5rem;
    top: 0;
    transition: top ease 0.5s;
    &:hover,
    &:focus {
      position: relative;
      top: -1.5rem;
    }
  }
  .contact {
    display: flex;
    width: 60%;
    flex-direction: column;
  }
  .contactContainer {
    width: 100%;
    height: 85%;
  }
  .square {
    height: calc(15vh - 1rem);
  }
  .calendly,
  .phone,
  .email {
    display: flex;
    flex-direction: column;
    font-size: 80%;
    padding: 1rem 1.5rem;
    i {
      margin-right: 0.5rem;
    }
  }
  .socials {
    margin: 0;
  }

  // RIGHT SIDE: PROFILE PIC SECTION
  .profilePic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    background-color: var(--opacity);
  }
  .picOfYou {
    height: 100%;
    width: 100%;
    border: 0.5rem solid var(--textColor);
    background-image: url(https://icons.iconarchive.com/icons/dapino/teenage-girl/256/girl-swear-icon.png);
    background-size: cover;
    background-position: center;
  }
}