// EXPERIENCE

:root {
  --headerFont: "Poppins", sans-serif;
  --bodyFont: "Mulish", sans-serif;
  --mainColor: #353353;
  --secondaryColor: #302F4E;
  --textColor: #ffffff;
  --accentColor: #DAA520;
  --opacity: rgba(255,255,255, 0.2);
}

.experiencePage {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 5rem;
  h2 {
    margin-bottom: 5rem;
  }
  .experience {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
  }
  .work,
  .education {
    padding: 0 1.5rem;
    background-color: var(--secondaryColor);
    border-radius: 5rem;
    width: 48%;
  }
  .job,
  .school {
    margin: 3rem 0;
  }
  .job li,
  .school li {
    list-style-position: inside;
  }
  .contain {
    border-left: 1px solid var(--accentColor);
    padding: 0.5rem 3rem;
  }
  .contain p {
    font-size: 1.5rem;
  }
  .dates {
    background-color: var(--accentColor);
    display: inline-block;
    text-transform: uppercase;
    padding: 0.2rem 0.5rem;
  }

}