// HOME 2

:root {
  --headerFont: "Poppins", sans-serif;
  --bodyFont: "Mulish", sans-serif;
  --mainColor: #353353;
  --secondaryColor: #302F4E;
  --textColor: #ffffff;
  --accentColor: #DAA520;
  --opacity: rgba(255,255,255, 0.2);
}

.homePage {
  height: 100vh;
  display: flex;
  .home {
    height: 100%;
    display: flex;
  }
  .info,
  .profilePic {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .info {
    width: 60%;
    align-items: left;
    text-align: left;
  }
  p {
    font-size: 3rem;
  }
  .profilePic {
    margin-top: 1.5rem;
    align-items: center;
    width: 40%;
  }
  .picOfYou {
    width: 85%;
    height: 60%;
    background-image: url(https://cdn.icon-icons.com/icons2/546/PNG/512/1455554992_users-14_icon-icons.com_53277.png);
    background-size: cover;
    background-position: center;
    border-radius: 2rem;
    border: 0.2rem solid white;
    box-shadow: 1rem 1rem var(--accentColor);
    position: relative;
    top: 0;
    background-color: var(--opacity);
    transition: top ease 0.5s;
    &:hover,
    &:focus {
      position: relative;
      top: -1.5rem;
    }
  }
}
@media (max-width: 901px){
  .homePage {
    display: flex;
    align-items: center;
    flex-direction: column;
    .profilePic {
      display: flex;
      height: 50vh;
      justify-content: center;
      margin-top: 8vh;
      width: 100%;
    }
    .picOfYou {
      height: 80%;
      width: 75%;
    }
    h1 {
      text-align: center;
    }
    .home {
      flex-direction: column-reverse;
      justify-content: space-evenly;
      height: auto;
      display: flex;
      align-items: center;
    }
    .info {
      width: 100%;
      display: flex;
      align-items: center;
      text-align: center;
    }
    .buttonContainer {
      display: flex;
      justify-content: center;
    }
    button {
      width: auto;
    }
  }

}

// TABLET
@media (max-width: 800px){
  .homePage {
    height: auto;
    padding-bottom: 10rem;
    .info {
      display: flex;
      align-items: center;
    }
    h1 {
        font-size: 6rem;
      }
    a {
      font-size: 2.5rem;
    }
    p {
      font-size: 3.5rem;
    }
    .buttonContainer {
      width: 100%;
    }
    a {
      width: 50%;
    }
    button {
      width: 100%;
    }
  }

}

// IPAD
// @media (max-width: 776px){
//   .homePage {
//     h1 {
//       font-size: 5rem;
//     }
//     p {
//       font-size: 2.8rem;
//     }
//     a {
//       font-size: 3rem;
//     }
//   }
// }


@media (max-width: 650px){
  .homePage {
    .profilePic {
      margin-top: 10vh;
    }
    h1 {
      font-size: 4rem;
    }
    p {
      font-size: 2.5rem;
    }
  }
}

// @media (max-width: 516px){
//   .homePage {
//     h1 {
//       font-size: 3.5rem;
//     }
//     p {
//       font-size: 1.8rem;
//     }
//     .buttonContainer {
//       width: 100%;
//       display: flex;
//     }
//     a {
//       width: 100%;
//       font-size: 2.8rem;
//     }
//     button {
//       font-size: 2rem;
//       width: 100%;
//     }
//   }
// }

@media (max-width: 453px){
  .homePage {
    .profilePic {
      height: 40vh;
    }
    .picOfYou {
      height: 80%;
      width: 90%;
    }
    h1 {
      font-size: 4.5rem;
    }
    p, a {
      font-size: 2rem;
    }
  }
}

@media (max-width: 354px){
  .homePage {
    .profilePic {
      height: 25vh;
    }
    .picOfYou {
      height: 80%;
      width: 90%;
    }
    h1 {
      font-size: 3.7rem;
    }
  }
}

