// RESUME

:root {
  --headerFont: "Poppins", sans-serif;
  --bodyFont: "Mulish", sans-serif;
  --mainColor: #353353;
  --secondaryColor: #302F4E;
  --textColor: #ffffff;
  --accentColor: #DAA520;
  --opacity: rgba(255,255,255, 0.2);
}

.cvPage {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 15rem;
  height: calc(100vh - 20rem);
  .coverLetter,
  .resume {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .cvContainer {
    width: 100%;
    height: calc(100% - 5rem);
    display: flex;
  }
  .imgContainer {
    height: 100%;
    width: 50%;
    border-radius: 2rem;
    border: 0.2rem solid var(--accentColor);
    box-shadow: 1rem 1rem var(--accentColor);
    top: 0;
    transition: top ease 0.5s;
    &:hover,
    &:focus {
      position: relative;
      top: -1.5rem;
    }
  }
  .imgContainer {
    background: white;
  }
  .resume .imgContainer {
    background-image: url(https://img.icons8.com/ios/452/resume.png);
    background-position: center;
    background-size: cover;
  }
  .coverLetter .imgContainer {
    background-image: url(https://static.thenounproject.com/png/440104-200.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  .buttonContainer {
    margin-top: 3rem;
  }
  button {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // TABLET MEDIA QUERY
  @media (max-width: 800px){
    height: 100vh;
    .cvContainer {
      flex-direction: column;
      justify-content: center;
    }
    .resume,
    .coverLetter {
      width: 100%;
      height: 100%;
    }
    .coverLetter {
      margin-top: 5rem;
    }
    .imgContainer {
      width: 50%;
      height: 100%;
    }
    button {
      font-size: 3rem;
    }
  }

  @media (max-width: 700px){
    button {
      font-size: 2rem;
    }
  }

  @media (max-width: 500px){
    .imgContainer,
    button {
      width: 80%;
      padding: 1.5rem;
    }
    .buttonContainer {
      width: 100%;
      justify-content: center;
      display: flex;
    }
  }

}