// SERVICES

:root {
  --headerFont: "Poppins", sans-serif;
  --bodyFont: "Mulish", sans-serif;
  --mainColor: #353353;
  --secondaryColor: #302F4E; 
  --textColor: #ffffff;
  --accentColor: #DAA520;
  --opacity: rgba(255,255,255, 0.2);
}

.servicesPage {
  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
  .anotherSquaresDiv {
    flex-wrap: wrap;
    display: flex; 
    border: 0.3rem solid var(--textColor);
    padding: 1rem;
    margin: 4rem 0;
    box-shadow: 1rem 1rem var(--accentColor);
  }
  .square {
    justify-content: flex-start;
  }
  .anotherSquaresDiv,
  .square {
    position: relative;
    top: 0;
    transition: top ease 0.5s;
  }
  .anotherSquaresDiv:hover,
  .anotherSquaresDiv:focus,
  .square:hover,
  .square:focus {
    position: relative;
    top: -1.5rem;
  }
  .service {
    width: 350px;
    height: 293px;
    &:hover,
    &:focus {
      background: rgba(7,7,8, 0.2);
    }
  }
  h2 {
    display: flex;
    margin: 5rem 0;
    justify-content: center;
  }
  .fas,
  .fab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: var(--accentColor);
    border: 1rem solid var(--mainColor);
    border-radius: 50%;
  }
  .fas {
    position: relative;
    bottom: 50px;
  }
  .serviceContent {
    position: relative;
    bottom: 4rem;
  }
  .skillsAndAwards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    height: auto;
    flex-direction: column;
    align-items: center;
    max-width: 1370px;
  }
  .skillsAndAwards .skills {
    border-radius: 2rem;
    width: 100%;
    padding: 0 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-evenly;
  }
  .skillsAndAwards .square {
    border: 2px solid var(--textColor);
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    box-shadow: 1rem 1rem var(--accentColor);
    &:hover,
    &:focus {
      background-color: var(--opacity);
    }
  }
  .skillsAndAwards .fas {
    top:0;
  }


  @media (max-width: 1270px){
    .services {
      justify-content: space-evenly;
      height: auto;
    }
  }

  // TABLET
  @media (max-width: 900px){
    .services {
      margin-bottom: 0;
    }
    .skillsAndAwards {
      display: flex;
      justify-content: center;
    }
    .anotherSquaresDiv {
      width: 75vw;
    }
    .square {
      width: 100%;
    }
    h3 {
      font-size: 3.5rem;
    }
    p {
      font-size: 2rem;
    }
  }

  @media (max-width: 639px){
    .skills .square {
      width: 35vw;
    }
    h3 {
      font-size: 3rem;
    }
  }

  @media (max-width: 426px){
    .anotherSquaresDiv {
      width: 80vw;
    }
    h3 {
      font-size: 2.7rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
}