// SERVICES

:root {
  --headerFont: "Poppins", sans-serif;
  --bodyFont: "Mulish", sans-serif;
  --mainColor: #353353;
  --secondaryColor: #302F4E; 
  --textColor: #ffffff;
  --accentColor: #DAA520;
  --opacity: rgba(255,255,255, 0.2);
}

.servicesPage {
  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10rem;
  }
  .anotherSquaresDiv {
    flex-wrap: wrap;
    display: flex; 
    border: 0.3rem solid var(--textColor);
    padding: 1rem;
    margin: 4rem 0;
    box-shadow: 1rem 1rem var(--accentColor);
  }
  .square {
    justify-content: flex-start;
  }
  .service {
    width: 350px;
    height: 293px;
    &:hover,
    &:focus {
      background: rgba(7,7,8, 0.2);
    }
  }
  .fas {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 50px;
    width: 80px;
    height: 80px;
    background-color: var(--accentColor);
    border: 1rem solid var(--mainColor);
    border-radius: 50%;
  }
  .serviceContent {
    position: relative;
    bottom: 4rem;
  }
  .skillsAndAwards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
    height: 100vh;
  }
  .skillsAndAwards .skills {
    border-radius: 2rem;
    width: 100%;
    padding: 0 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-evenly;
  }
  .skillsAndAwards .square {
    border: 2px solid var(--textColor);
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    box-shadow: 1rem 1rem var(--accentColor);
    &:hover,
    &:focus {
      background-color: var(--opacity);
    }
  }
  .skillsAndAwards .fas {
    top:0;
  }

}

  @media (max-width: 1270px){
    .servicesPage .services {
      justify-content: space-evenly;
    }
  }

  @media (max-width: 1200px){
    .service {
      width: 50vw;
    &:hover,
    &:focus {
      background: rgba(7,7,8, 0.2);
    }
  }
}