// UNIVERSAL STYLES:

:root {
  --headerFont: "Poppins", sans-serif;
  --bodyFont: "Mulish", sans-serif;
  --mainColor: #353353;
  --secondaryColor: #302F4E;
  --textColor: #ffffff;
  --accentColor: #DAA520;
  --opacity: rgba(255,255,255, 0.2);
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--mainColor);
  color: var(--textColor);
  font: 400 2rem var(--bodyFont);
}

.wrapper {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.618;
  margin: 0;
}

h1 {
  font-size: 5rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 24px;
}

a {
  color: var(--textColor);
  text-decoration: none;
}

a:hover, a:focus {
  color: var(--accentColor);
}