// UNIVERSAL STYLES:

:root {
  --headerFont: "Poppins", sans-serif;
  --bodyFont: "Mulish", sans-serif;
  --mainColor: #353353;
  --secondaryColor: #302F4E; 
  --textColor: #ffffff;
  --accentColor: #DAA520;
  --opacity: rgba(255,255,255, 0.2);
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--mainColor);
  color: var(--textColor);
  font: 400 2rem var(--bodyFont);
}

.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

// NAV
nav {
  display: flex;
  width: 100%;
  height: 8rem;
  background: var(--opacity);
  position: fixed;
  z-index: 1;
  top: 0;
  .logo {
    position: relative;
    left: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
  }
  .logo p {
    display: inline-block;
    padding: 1.2rem 2rem;
    border: 0.2rem solid var(--accentColor);
    border-radius: 50%;
  }
  ul {
    display: flex;
    justify-content: right;
    width: 100%;
  }
  li {
    list-style-type: none;
    width: calc(100%/7.5);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
  }
  a {
    text-transform: uppercase;
    color: var(--accentColor);
    &:hover,
    &:focus {
      color: var(--textColor);
    }
  }
}

@media (max-width: 900px){
  nav {
    a {
      font-size: 1.7rem;
    }
  }
}

@media (max-width: 800px){
  nav {
    .logo {
      display: none;
    }
    ul {
      padding-left: 0 2rem;
    }
    li{
      display: flex;
      width: calc(100%/6);
    }
    a {
      font-size: 1.7rem;
      width: 100%;
    }
  }
}

@media (max-width: 700px){
  nav {
    a {
      font-size: 1.4rem;
      width: 100%;
    }
  }
}

// HEADERS
h1, h2, h3, h4, h5 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.7;
  margin: 0;
}
h1 {
  font-size: 5rem;
  color: var(--accentColor);
}
h2 {
  font-size: 4rem;
  border-bottom: 5px solid var(--accentColor);
  text-align: center;
}
h3 {
  font-size: 3rem;
  color: var(--accentColor);
}
h4 {
  font-size: 2rem;
}
h5 {
  font-size: 3rem;
  color: var(--accentColor);
}
h6 {
  font-size: 2rem;
  color: var(--accentColor);
}

// TEXT STYLES
a {
  color: var(--textColor);
  text-decoration: none;
}
a:hover, a:focus {
  color: var(--accentColor);
}
p {
  margin: 0.5rem 0;
}

// SOCIAL MEDIA
.socials {
    margin: 2rem 2rem 2rem 0;
  }
.fab {
  margin: 5px;
  border: 0.2rem solid var(--accentColor);
  padding: 10px;
  border-radius: 50%;
  &:hover,
  &:focus {
    background-color: var(--opacity);
  }
}

// BUTTONS 

button {
  background-color: transparent;
  border-radius: 1.5rem;
  color: var(--textColor);
  border: 2px solid var(--accentColor);
  padding: 10px;
  width: 40%;
  &:hover,
  &:focus {
    background-color: var(--opacity);
  }
}

// SQUARES
.squaresDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.anotherSquaresDiv {
  height: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-evenly;
}
.square {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondaryColor);
  border-radius: 1.5rem;
  margin: 0.5rem 0.25rem;
}
  
