html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --headerFont: "Poppins", sans-serif;
  --bodyFont: "Mulish", sans-serif;
  --mainColor: #353353;
  --secondaryColor: #302F4E;
  --textColor: #ffffff;
  --accentColor: #DAA520;
  --opacity: rgba(255,255,255, 0.2);
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--mainColor);
  color: var(--textColor);
  font: 400 2rem var(--bodyFont);
}

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.7;
  margin: 0;
}

h1, h2 {
  font-size: 5rem;
  text-align: center;
}

h1 {
  color: var(--accentColor);
}

h2 {
  border: 5px solid var(--accentColor);
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 3rem;
  color: var(--accentColor);
}

h6 {
  font-size: 2rem;
}

a {
  color: var(--textColor);
  text-decoration: none;
}

a:hover, a:focus {
  color: var(--accentColor);
}

p {
  margin: 0.5rem 0;
}

.socials {
  margin: 20px;
}

.fab,
.fas {
  margin: 5px;
  border: 0.2rem solid var(--accentColor);
  padding: 10px;
  border-radius: 50%;
}

.fab:hover, .fab:focus,
.fas:hover,
.fas:focus {
  background-color: var(--opacity);
}

.squaresDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
}

.anotherSquaresDiv {
  height: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
}

.square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--secondaryColor);
  border-radius: 1.5rem;
  margin: 0.5rem 0.25rem;
}

:root {
  --headerFont: "Poppins", sans-serif;
  --bodyFont: "Mulish", sans-serif;
  --mainColor: #353353;
  --secondaryColor: #302F4E;
  --textColor: #ffffff;
  --accentColor: #DAA520;
  --opacity: rgba(255,255,255, 0.2);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

header .profilePic,
header .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 4rem 0;
}

header .intro {
  width: 60%;
  padding: 0 10px;
}

header .profilePic {
  width: 40%;
}

header .picOfYou {
  height: 40rem;
  width: 85%;
  background-image: url(https://api.time.com/wp-content/uploads/2017/03/personal-shopper-film.jpg?w=800&quality=85);
  background-position: center;
  border: 0.2rem solid var(--accentColor);
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

header .logo p {
  display: inline-block;
  padding: 1.2rem 2rem;
  border: 0.2rem solid var(--accentColor);
  border-radius: 50%;
}

header p {
  text-align: center;
}

header .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .intro button {
  background-color: transparent;
  border-radius: 1.5rem;
  color: var(--textColor);
  border: 2px solid var(--accentColor);
  padding: 10px;
  width: 40%;
}

header .intro button:hover, header .intro button:focus {
  background-color: var(--opacity);
}

:root {
  --headerFont: "Poppins", sans-serif;
  --bodyFont: "Mulish", sans-serif;
  --mainColor: #353353;
  --secondaryColor: #302F4E;
  --textColor: #ffffff;
  --accentColor: #DAA520;
  --opacity: rgba(255,255,255, 0.2);
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.about .name,
.about .phone,
.about .email,
.about .freelance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .name h6,
.about .phone h6,
.about .email h6,
.about .freelance h6 {
  margin-right: 1rem;
}

.about .aboutMe,
.about .facts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about .aboutMe {
  width: 52%;
}

.about .contactMe {
  margin: 1.5rem 0;
}

.about .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 2.5rem 0;
}

.about .aboutMe button {
  background-color: transparent;
  border-radius: 1.5rem;
  color: var(--textColor);
  border: 2px solid var(--accentColor);
  padding: 10px;
  width: 40%;
}

.about .aboutMe button:hover, .about .aboutMe button:focus {
  background-color: var(--opacity);
}

.about .facts {
  width: 44%;
}

.about .square {
  width: 48%;
  height: calc(25vh - 2rem);
}

:root {
  --headerFont: "Poppins", sans-serif;
  --bodyFont: "Mulish", sans-serif;
  --mainColor: #353353;
  --secondaryColor: #302F4E;
  --textColor: #ffffff;
  --accentColor: #DAA520;
  --opacity: rgba(255,255,255, 0.2);
}

.experiencePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  margin-bottom: 5rem;
}

.experiencePage h2 {
  margin-bottom: 5rem;
}

.experiencePage .experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3rem 0;
}

.experiencePage .work,
.experiencePage .education {
  padding: 0 1.5rem;
  background-color: var(--secondaryColor);
  border-radius: 5rem;
  width: 48%;
}

.experiencePage .job,
.experiencePage .school {
  margin: 3rem 0;
}

.experiencePage .job li,
.experiencePage .school li {
  list-style-position: inside;
}

.experiencePage .contain {
  border-left: 1px solid var(--accentColor);
  padding: 0.5rem 3rem;
}

.experiencePage .contain p {
  font-size: 1.5rem;
}

.experiencePage .dates {
  background-color: var(--accentColor);
  display: inline-block;
  text-transform: uppercase;
  padding: 0.2rem 0.5rem;
}

:root {
  --headerFont: "Poppins", sans-serif;
  --bodyFont: "Mulish", sans-serif;
  --mainColor: #353353;
  --secondaryColor: #302F4E;
  --textColor: #ffffff;
  --accentColor: #DAA520;
  --opacity: rgba(255,255,255, 0.2);
}

.servicesPage .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.servicesPage .anotherSquaresDiv {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0.3rem solid var(--textColor);
  padding: 1rem;
  margin: 4rem 0;
}

.servicesPage .square {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.servicesPage .service {
  width: 350px;
  height: 293px;
}

.servicesPage .service:hover, .servicesPage .service:focus {
  background: rgba(7, 7, 8, 0.2);
}

.servicesPage .fas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 50px;
  width: 80px;
  height: 80px;
  background-color: var(--accentColor);
  border: 1rem solid var(--mainColor);
  border-radius: 50%;
}

.servicesPage .serviceContent {
  position: relative;
  bottom: 40px;
}

.servicesPage .skillsAndAwards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid black;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servicesPage .skills,
.servicesPage .awards {
  margin: 5rem 0;
  border: 1px solid red;
  width: 48%;
}

@media (max-width: 1270px) {
  .servicesPage .services {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 1200px) {
  .service {
    width: 50vw;
  }
  .service:hover, .service:focus {
    background: rgba(7, 7, 8, 0.2);
  }
}

:root {
  --headerFont: "Poppins", sans-serif;
  --bodyFont: "Mulish", sans-serif;
  --mainColor: #353353;
  --secondaryColor: #302F4E;
  --textColor: #ffffff;
  --accentColor: #DAA520;
  --opacity: rgba(255,255,255, 0.2);
}

.projectsPage .works {
  margin: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.projectsPage .anotherSquaresDiv {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid blue;
  padding: 1rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.projectsPage .work {
  width: 350px;
  height: 210px;
  background-color: var(--secondaryColor);
}

.projectsPage .work:hover, .projectsPage .work:focus {
  background: rgba(7, 7, 8, 0.2);
}

@media (max-width: 1200px) {
  .projectsPage .work {
    width: 290px;
    height: 174px;
  }
}

@media (max-width: 992px) {
  .projectsPage .work {
    width: 330px;
    height: 198px;
  }
}

@media (max-width: 768px) {
  .projectsPage .work {
    height: 306px;
    width: 510px;
  }
}

:root {
  --headerFont: "Poppins", sans-serif;
  --bodyFont: "Mulish", sans-serif;
  --mainColor: #353353;
  --secondaryColor: #302F4E;
  --textColor: #ffffff;
  --accentColor: #DAA520;
  --opacity: rgba(255,255,255, 0.2);
}

.contactPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contactPage .contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactPage .square {
  width: 25%;
  height: calc(15vh - 1rem);
  margin: 3rem 0;
}

.contactPage .location,
.contactPage .phone,
.contactPage .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 80%;
  width: 25%;
}

.contactPage .location i,
.contactPage .phone i,
.contactPage .email i {
  margin-right: 0.5rem;
}

.contactPage form {
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--secondaryColor);
  border-radius: 1.5rem;
}

.contactPage input {
  width: 90%;
  margin: 1rem 0;
  border-radius: 1.5rem;
  padding: 0.5rem;
  background-color: lightgray;
  border: none;
}

.contactPage .submit {
  background-color: var(--accentColor);
  color: var(--textColor);
  padding: 1rem;
}

:root {
  --headerFont: "Poppins", sans-serif;
  --bodyFont: "Mulish", sans-serif;
  --mainColor: #353353;
  --secondaryColor: #302F4E;
  --textColor: #ffffff;
  --accentColor: #DAA520;
  --opacity: rgba(255,255,255, 0.2);
}

footer {
  background-color: var(--accentColor);
  padding: 5px;
  text-align: center;
}
